/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #fdcc52;
  transition: all .35s;
}

a:hover,
a:focus {
  color: rgb(32, 252, 61);
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}
/*========== nav bar ============ */
.mainNav{
  border-color: rgb(14, 45, 57);
  background-color: #64a19d;
  font-family: "catamaram";
  font-weight: 200;
  letter-spacing: 2px;
  display: flex;
  
}

.btn-nav {
  border-bottom: 2px solid #fcbd20;
  margin: 10px;
  padding: 5px;
  max-width: 100px;
  text-align: center;
}
.btn-nav:hover {
  background-color:#fcbd20
}
.travel{
color: #fcbd20;
text-decoration: none;
font-family: 'Pacifico', cursive;
font-size: 50px;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: rgb(0, 0, 0);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
font-weight: 400;
letter-spacing: 5px;
}

/* Header */
.header-st{
  background-image: url(../images/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
header img{
  max-width: 300px;
  width: 500px;
}
.btn-hover:hover{
  background-color: #fcbd20;
}

.download{
  background-color: #fdcc52;
}

/* testimonial-item */
.testimonial-item img{
  border-radius: 100%;
  width: 200px;
  padding: 20px;
}

.signup-section {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/SF.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  color: aliceblue;
  
}

form input{
  width: 80%;
}

.icons-soc img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

footer {
  background-color: #313131;
  color: #FFFFFF;
}